<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence_2_0.xsd" version="2.0">
    <persistence-unit name="persistenceUnit" transaction-type="RESOURCE_LOCAL">
<!--         <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>         -->
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<non-jta-data-source>java:jboss/datasources/MySQLDS</non-jta-data-source>
         <class>org.modino.nbaCommunity.domain.pojo.User</class>
         <class>org.modino.nbaCommunity.domain.pojo.Address</class>
         <class>org.modino.nbaCommunity.domain.pojo.Team</class>
         <class>org.modino.nbaCommunity.domain.pojo.League</class>
         <class>org.modino.nbaCommunity.domain.pojo.Player</class>
         <class>org.modino.nbaCommunity.domain.pojo.Match</class>
         <class>org.modino.nbaCommunity.domain.pojo.Scoring</class>
         <class>org.modino.nbaCommunity.domain.pojo.NBATeam</class>
         <class>org.modino.nbaCommunity.domain.pojo.NBAPlayer</class> 
        <properties>
            <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/nbaCommunity"/>
            <property name="javax.persistence.jdbc.user" value="root"/>
            <property name="javax.persistence.jdbc.password" value=""/>
            <!--property name="eclipselink.logging.level" value="FINEST"/-->
            
            
            <!-- TRABAJAR CON LOS SCRIPTS -->
            <!-- value="none" no hace cambios en la base de datos -->
            <property name="eclipselink.ddl-generation" value="none"/>
            <property name="eclipselink.ddl-generation.output-mode" value="database"/>
            
            <!-- CREA EL ESQUEMA DE BD AUTOMATICAMENTE -->
            <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
            <property name="eclipselink.create-ddl-jdbc-file-name" value="create_nbaCommunity_bbdd.jdbc"/>
            <property name="eclipselink.drop-ddl-jdbc-file-name" value="delete_nbaCommunity.jdbc"/>
            <property name="eclipselink.ddl-generation.output-mode" value="sql-script"/>
        </properties>
    </persistence-unit>
</persistence>